.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
.site-header a {
    color: #ccc;
    transition: color .15s ease-in-out;
}