<form id="nuevoProducto">
    <div class="row">
        <div class="col-md-4 mt-4">
            <label class="form-label">Nombre</label>
            <input name="title" type="text" class="form-control">
        </div>
        <div class="col-md-4 mt-4">
            <label class="form-label">Precio</label>
            <input name="price" type="text" class="form-control">
        </div>   
        <div class="col-md-4 mt-4">
            <label class="form-label">Código</label>
            <input name="code" type="text" class="form-control">
        </div>
        <div class="col-md-4 mt-4">
            <label class="form-label">Stock</label>
            <input name="stock" type="text" class="form-control">
        </div> 
        <div class="col-md-4 mt-4">
            <label class="form-label">Categoría</label>
            <input name="category" type="text" class="form-control">
        </div>  
        <div class="col-md-4 mt-4">
            <label class="form-label">Estado</label>
            <select name="status" class="form-control">
                <option value="1">True</option>
                <option value="">False</option>
            </select>
        </div>
        <div class="col-md-12 mt-4">
            <label class="form-label">Imagenes</label>
            <input name="thumbnails" type="file" class="form-control">
        </div>                                                        
        <div class="col-md-12 mt-4">
            <label class="form-label">Descripcion</label>
            <textarea name="description" rows="2" class="form-control"></textarea>
        </div>        

        <div class="col-md-4 mt-4 mb-4">
            <button class="btn btn-success" type="submit">Enviar producto</button>
        </div>
    </div>        
</form>